.featured_project_item {
  position: relative;
  display: flex;
  &_right {
    position: relative;
    z-index: 2;
    .desc {
      position: relative;
      left: 10rem;
      top: 5rem;
      z-index: 3333;
      background: radial-gradient(
        151.92% 127.02% at 15.32% 21.04%,
        rgba(105, 59, 147, 1) 0%,
        rgba(110, 191, 244, 0.22) 77.08%,
        rgba(70, 144, 212, 0) 100%
      );
      border-radius: 14px;
      backdrop-filter: blur(90px);
      // đảm bảo có vùng hiển thị
      .wrapper {
        padding: 2rem;
        p {
          text-align: justify;
          color: #ccd6f6;
        }
      }
    }
  }
  &_left {
    z-index: 1;
    position: relative;
    .projects_img {
      position: relative;
      padding: 5rem 0 0 5rem;
      border-radius: 10px;
      height: 400px !important;
      background: #2b0b3a;
      .project_img {
        border-radius: 10px;
        height: 100% !important;
      }
    }
    &::before {
      pointer-events: none;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200%; // to gấp đôi chiều ngang ảnh
      height: 200%; // giữ nguyên chiều cao
      z-index: -999;
      border-radius: 50%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        #763cac 0%,
        rgba(50, 15, 133, 0) 100%
      );
      // hiệu ứng nhấp nháy
      animation: pulse 3s infinite;
    }
  }
  .title.title_reverse {
    text-align: right !important;
  }
  .desc.desc_reverse {
    left: -10rem !important;
  }
}
